# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
backend/venv/

# Environment Variables
.env

# VS Code
.vscode/

# Python cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Uploads
backend/app/uploads/*
!backend/app/uploads/.gitkeep
