# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# JetBrains
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Python Cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Uploaded Images
backend/app/uploads/*
!backend/app/uploads/.gitkeep

# Environment Files
.env
.env.*

# Docker
*.pid

# PostgreSQL
*.sql

# Secrets
secrets/